@inject SaveLoader Loader
@implements IDisposable
<div class="content">
    @if (!Loader.Loaded)
    {
        <UploadBlader/>
    }
    else
    {
        @switch (CurrentPage)
        {
            case "Weapons": <Weapons></Weapons>
                break;
            default:
                <Blader Data="Loader.CurrentData"/> break;
        }
    }
</div>

@code {
    [Parameter] public required string CurrentPage { get; set; }

    private IDisposable? _handler;

    protected override void OnInitialized()
    {
        _handler = Loader.Subscribe(() => InvokeAsync(StateHasChanged));
    }

    public void Dispose()
    {
        _handler?.Dispose();
    }

}